.modal {
    position: fixed;
    background-color: #333333;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.modal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    align-items: center;
    justify-content: space-between;
}
.modal-content-container {
    display: flex;
}
.modal-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #2D2D2D ;
    overflow-y: auto;
    height: 600px;
}
.modal-sidebar-button {
    border: none;
    font-size: 16px;
    padding: 10px;
    background-color: #2D2D2D ;
    color: white;
    font-weight: bold;
}
.modal-sidebar-button:hover {
    background-color: #555555;
}

.modal-sidebar-button-active {
    background-color: #424242;
}
.modal-content{
    flex: 4;
    background-color: #555555;
    flex-wrap: wrap;
    display: flex;
    width: 990px;
    overflow-y: auto;
    height: 600px;
}
.modal-content-empty {
    font-size: 20px;
    color: rgba(255,255,255,0.6);
    padding: 8px 16px;
}
.modal-content-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.modal-content-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    height: 80px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
}
.modal-content-block:hover {
    background-color: #A3A3A3;
}
.big-label {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}
.type-button {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    background-color: #555555;
    border: none
}
.little-label {
    font-size: 12px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    color: white;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-header {
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px;
    gap:10px;
    align-items: center;
    justify-content: space-between;
}
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px
}

.modal-close {
    float: right;
    cursor: pointer;
    border: none;
}

.modal-close:hover {
    color: red;
    border-radius:50%;
    background-color: lightgray;
}

input[type="text"] {
    width: 250px;
    padding: 10px;
}
